.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    border-radius: 20px;
    padding: 20px 23px;
    background: #f5f6f8;
}

.card__img {
    margin: 0 auto;
}

.card__attr {
    font-family: "Futura PT", sans-serif;
    font-weight: 400;
    font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
    line-height: 1.4;
    color: #abb2be;
}

.card__title {
    font-family: "Futura PT", sans-serif;
    font-weight: 600;
    font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
    line-height: 1.3;
    color: #292e35;
}

.card__price {
    font-family: "Futura PT", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #292e35;
}

.card__to-card {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;

    border-radius: 30px;
    padding: 12px 37px 14px 37px;
    background: #1a9640;
}

@media (max-width: 767px) {
    .card {
        padding: 10px;
    }

    .card__to-card {
        font-size: 14px;
        border-radius: 30px;
        padding: 12px 25px 14px 25px;
    }
}

@media (max-width: 450px) {
    .card__to-card {
        padding: 10px 13px 10px 13px;
    }
}